.content {
    position: relative;
}
.longDescription,
.description {
    margin: 0.4rem 0.4rem 1.5rem 0.4rem;
    font-size: 0.95rem;
    color: #444;
    line-height: 1.2rem;
}
.description {
    margin: 0.4rem;
}
.action {
    right: 5px;
    position: absolute;
    bottom: -1.5rem;
    font-size: 14px;
    border: none;
    background-color: transparent;
    color: blue;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    padding: 0px;
    cursor: pointer;
}
.action:hover {
    border-bottom: 1px solid blue;
}

.more:after {
    content: ">";
    position: relative;
    padding-left: 2px;
}
.less:after {
    content: "<";
    position: relative;
    
    padding-right: 2px;
}
