.image{
    width: 100%;
}
.image img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
    max-height: 20rem;
    border-radius: 10px;
    object-fit: cover;
}
.content {
    text-align: center;
    padding: 1rem;
  }
.content h3{
    font-size: 1.7rem;
    color: #2c292b;
    margin: .5rem 0;
}
.bobaTeaName{
    font-size: 1.2rem;
    color: #2c292b;
    margin: .5rem 0;
}
.address{
    font-size: 1.2rem;
    color: #2c292b;
    text-decoration: none;
    transition: font-weight .2s;
}
.addressIcon{
    margin-right: .3rem;
}
.address:hover{
    color: rgb(81, 58, 165);
    font-weight: 500;
}
.form{
    padding-top: 1rem;
    border-top: 2px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.control{
    width: 95%;
}
.control textarea {
    font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}
.action{
    align-self: flex-end;
}
.action button {
    margin-right: .5rem;
    font-size: 1rem;
    padding: .3rem 1rem;
    text-align: center;
    border-radius: 7px;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: .2s,.3s background-color;
  }
  .action button:hover{
    background-color: rgb(254, 233, 115);
    color: #2c292b;
    transform: translate(-1px,-1px);
    box-shadow: 1px 1px 2px #aaa;
  }
  .action button:active{
    transform: translate(1px,1px);
    box-shadow: none
  }