.shop {
    margin: 0 0 3rem 0;
}
.row{
  position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.image {
  width: 35%;
  height: 100%;
  padding: 0 1.5rem 0 0;
}
.image img {
  width: 100%;
  max-height: 12rem;
  object-fit: contain;
  border-radius: 10px;
}
.content {
  position: relative;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 10px;
  padding: 0.8rem;
  margin-left: 1rem;
  width: 100%;
  transition: height 3s ease;
}
.content::before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 1.5rem;
  top: 50%;
  left: -1.5rem;
  background-color: rgb(235, 235, 235);
  transform: translateY(-50%);
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
}
.shopTitle {
  position: relative;
}
.shopName {
  display: inline-block;
  max-width: 23rem;
  font-size: 1.6rem;
  margin: 0 0 0.4rem 0;
}
.action {
  font-size: 2rem;
  color: rgb(255, 8, 8);
  cursor: pointer;
  user-select: none;
  transition: color .2s ease;
}
.action:hover {
  color: rgb(208, 56, 9);
  transform: translateY(-1px);
}
.action:active {
  transform: translate(1px, 1px);
}
.favorite{
  position: absolute;
  top: 0;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.favoriteNumber{
  margin-top: .2rem;
  text-align: left;
  font-size: 1.1rem;
  font-weight: 600;
}

.bobaTeaName {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}
.address {
  font-size: 1rem;
  padding: 0.4rem 0;
}
.addressIcon {
  padding-right: 0.4rem;
}
.description {
  margin: 0.4rem 0.4rem;
  font-size: 0.95rem;
  color: #444;
  
  line-height: 1.2rem;
}

.crown{
  position: absolute;
  top: -3.5rem;
  left: -3rem;
  font-size: 4rem;
  transform: rotate(-40deg);
  color: rgb(255, 204, 0);
}
